#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
        };

        TD_ESC: TD_ESC {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ESC";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp ESC>;

            tapping-term-ms = <350>;
        };

        TD_DASH: TD_DASH {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_DASH";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp MINUS>;

            tapping-term-ms = <350>;
        };

        TD_QUOTE: TD_QUOTE {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_QUOTE";
            #binding-cells = <0>;
            bindings = <&AS EXCLAMATION SLASH>, <&kp SQT>;

            tapping-term-ms = <350>;
        };

        TD_CHEAT: TD_CHEAT {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_CHEAT";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp GRAVE>;

            tapping-term-ms = <350>;
        };

        NM: NM {
            compatible = "zmk,behavior-hold-tap";
            label = "NM";
            #binding-cells = <2>;
            tapping-term-ms = <100>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            bindings = <&mo>, <&tog>;

            hold-trigger-key-positions = <41>;
        };

        AS: AS {
            compatible = "zmk,behavior-hold-tap";
            label = "AS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <135>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        Com_Del {
            bindings = <&kp DELETE>;
            key-positions = <1 2>;
        };

        Com_Star {
            bindings = <&kp LS(NUMBER_8)>;
            key-positions = <10 9>;
        };

        Com_Lock {
            bindings = <&kp LG(L)>;
            key-positions = <34 33>;
        };

        Com_NUM {
            bindings = <&kp LS(NUMBER_3)>;
            key-positions = <5 6>;
        };

        Com_big {
            bindings = <&Big>;
            key-positions = <17 18>;
        };

        Com_small {
            bindings = <&Small>;
            key-positions = <29 30>;
        };
    };

    macros {
        Big: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_BRACKET &kp RIGHT_BRACKET>,
                <&macro_wait_time 50>,
                <&kp LEFT>;

            label = "NEW_MACRO";
        };

        Small: Small {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS>,
                <&macro_wait_time 50>,
                <&kp LEFT>;

            label = "SMALL";
        };

        StopWork: StopWork {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp MINUS &kp SPACE &kp R &kp O &kp D &kp L &kp S &kp SPACE &kp T &kp K &kp D &kp B>;
            label = "STOPWORK";
        };

        AutoSwitch: AutoSwitch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &kp LEFT_SHIFT>;
            label = "AUTOSWITCH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&trans  &TD_ESC           &kp W           &kp E             &kp R        &kp T        &kp Y      &kp U          &kp I             &kp O           &TD_DASH   &trans
&trans  &kp A             &hm LEFT_ALT S  &hm LEFT_SHIFT D  &hm LCTRL F  &kp G        &kp H      &hm LCTRL J    &hm LEFT_SHIFT K  &hm LEFT_ALT L  &TD_CHEAT  &trans
&trans  &hm LEFT_SHIFT Z  &kp X           &kp C             &kp V        &kp B        &kp N      &kp M          &kp COMMA         &kp DOT         &TD_QUOTE  &trans
                                          &lt 3 TAB         &lt 2 LANG1  &kp SPACE    &kp ENTER  &kp BACKSPACE  &NM 1 1
            >;
        };

        Num {
            bindings = <
&trans  &kp ESC  &AS LS(NUMBER_1) NUMBER_1  &AS LS(NUMBER_2) NUMBER_2  &AS LS(NUMBER_3) NUMBER_3  &AS LS(EQUAL) EQUAL                    &none   &none      &none        &none         &trans  &trans
&trans  &kp TAB  &AS LS(NUMBER_4) NUMBER_4  &AS LS(NUMBER_5) NUMBER_5  &AS LS(NUMBER_6) NUMBER_6  &AS LS(LEFT_BRACKET) LEFT_BRACKET      &none   &kp LCTRL  &AutoSwitch  &kp LEFT_ALT  &trans  &trans
&trans  &none    &AS LS(NUMBER_7) NUMBER_7  &AS LS(NUMBER_8) NUMBER_8  &AS LS(NUMBER_9) NUMBER_9  &AS LS(RIGHT_BRACKET) RIGHT_BRACKET    &none   &none      &trans       &trans        &trans  &trans
                                            &AS LS(NUMBER_0) NUMBER_0  &mo 2                      &trans                                 &trans  &trans     &to 0
            >;
        };

        Nav {
            bindings = <
&trans  &bt BT_SEL 3  &trans        &trans          &kp LC(LEFT_SHIFT)  &trans    &kp LC(F)   &kp LC(Z)       &kp UP     &kp LC(Y)  &bt BT_SEL 0  &trans
&trans  &bt BT_SEL 4  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LCTRL           &trans    &kp END     &kp LEFT_ARROW  &kp DOWN   &kp RIGHT  &bt BT_SEL 1  &trans
&trans  &none         &trans        &trans          &trans              &trans    &kp INSERT  &kp LC(C)       &kp LC(V)  &kp LC(X)  &bt BT_SEL 2  &trans
                                    &trans          &trans              &trans    &trans      &trans          &trans
            >;
        };

        Function {
            bindings = <
&trans  &trans  &trans        &trans          &trans     &StopWork    &kp F1  &kp F2   &kp F3   &kp F4   &kp SQT     &trans
&trans  &trans  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LCTRL  &trans       &kp F5  &kp F6   &kp F7   &kp F8   &kp INSERT  &trans
&trans  &trans  &trans        &trans          &trans     &trans       &kp F9  &kp F10  &kp F11  &kp F12  &kp DELETE  &trans
                              &trans          &trans     &trans       &trans  &trans   &trans
            >;
        };
    };
};
