#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&trans  &mt ESC Q         &kp W           &kp E             &kp R            &kp T        &kp Y      &kp U          &kp I             &kp O           &kp P     &trans
&trans  &kp A             &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LCTRL F      &kp G        &kp H      &mt LCTRL J    &mt LEFT_SHIFT K  &mt LEFT_ALT L  &kp SEMI  &trans
&trans  &mt LEFT_SHIFT Z  &kp X           &kp C             &kp V            &kp B        &kp N      &kp M          &kp COMMA         &kp DOT         &kp FSLH  &trans
                                          &lt 3 TAB         &lt 1 RIGHT_ALT  &kp SPACE    &kp ENTER  &kp BACKSPACE  &tog 2
            >;
        };

        Nav {
            bindings = <
&trans  &bt BT_SEL 3  &trans        &trans          &trans     &trans    &trans      &kp LC(Z)       &kp UP     &kp LC(Y)  &bt BT_SEL 0  &trans
&trans  &bt BT_SEL 4  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LCTRL  &trans    &kp END     &kp LEFT_ARROW  &kp DOWN   &kp RIGHT  &bt BT_SEL 1  &trans
&trans  &trans        &trans        &trans          &trans     &trans    &kp INSERT  &kp LC(C)       &kp LC(V)  &kp LC(X)  &bt BT_SEL 2  &trans
                                    &trans          &trans     &trans    &trans      &trans          &trans
            >;
        };

        Num {
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0      &kp EQUAL            &trans  &trans     &trans          &trans        &trans  &trans
&trans  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &trans  &kp LCTRL  &kp LEFT_SHIFT  &kp LEFT_ALT  &trans  &trans
&trans  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans            &trans               &trans  &trans     &trans          &trans        &trans  &trans
                                    &trans        &trans            &trans               &trans  &trans     &to 0
            >;
        };

        Function {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp F1  &kp F2   &kp F3   &kp F4   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp F5  &kp F6   &kp F7   &kp F8   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans   &trans
            >;
        };
    };
};
